<div>
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" [routerLink]="['/userPanel/energyproduction']">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div>
                                        <img class="rengoo-logo" src="../../../assets/img/logo.png" alt="Rengoo">
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-item mT-30 active">
                    <a class="sidebar-link" [routerLink]="['/userPanel']" default>
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-home"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>



            </ul>
        </div>
    </div>
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container">
                <ul class="nav-left">
                    <li>
                        <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
                            <i class="ti-menu"></i>
                        </a>
                    </li>
                    <li class="search-box">
                        <div class="nav-wrapper">
                            <div class="sl-nav">
                                <ul>
                                    <li><b>English</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <div class="triangle"></div>
                                        <ul>
                                            <li><i class="sl-flag flag-de">
                                                    <div id="germany"></div>
                                                </i> <span class="active">Deutsch</span></li>
                                            <li><i class="sl-flag flag-usa">
                                                    <div id="germany"></div>
                                                </i> <span>English</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="search-input">
                        <input class="form-control" type="text" placeholder="Search...">
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="notifications balance mT-20">
                        <button class="btn btn-danger btn-end-contract" data-target="#add-balance" data-toggle="modal"
                            type="button">Add Balance <i class="c-white-500 ti-plus"></i></button>
                    </li>
                    <li class="notifications balance mT-20 margin-balance" *ngIf="userBalanceAmount">

                        <p>Balance: <b> {{userBalanceAmount.toFixed(2)}} CHF </b></p>
                    </li>



                    <li class="dropdown">
                        <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                            <div class="peer mR-10">
                                <img class="w-2r bdrs-50p" src="../../../assets/img/default.png" alt="">
                            </div>
                            <div class="peer">
                                <span class="c-grey-900">{{user}}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="authService.loggedIn()">
                                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" [routerLink]="['/userPanel/userProfile']">
                                    <i class="ti-power-off mR-10"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li *ngIf="authService.loggedIn()">
                                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" (click)="onLogoutClick()">
                                    <i class="ti-power-off mR-10"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="row gap-20 masonry pos-r height-100">
                    <div class="col-md-12 ">
                        <div class="row height-100">
                            <div class="col-md-2 background-fff">
                                <form>
                                    <div class="form-group mB-0">
                                        <input class="search-input" type="search" placeholder="Search...">
                                    </div>
                                </form>


                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                                    <a class="nav-item nav-link  border-left-3" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-current" role="tab" aria-controls="nav-home" aria-selected="true"
                                        *ngIf="userType == 'CONSUMER' || userType == 'PROSUMER'" [routerLink]="['/userPanel/consump']">
                                        <span class="d-block">Consumption trade Map</span>
                                    </a>


                                    <a class="nav-item nav-link  border-left-2" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-current" role="tab" aria-controls="nav-home" aria-selected="true"
                                        *ngIf="userType == 'PRODUCER' || userType == 'PROSUMER' && energySoldLength > 0"
                                        [routerLink]="['/userPanel/sold']">
                                        <span class="d-block">Seller Map</span>
                                    </a>

                                    <a class="nav-item nav-link  border-left-1" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-current" role="tab" aria-controls="nav-home" *ngIf="userType == 'CONSUMER' || userType == 'PROSUMER'"
                                        [routerLink]="['/userPanel/consumption']">
                                        <span class="d-block">Energy Consumption Details</span>
                                    </a>
                                    <a class="nav-item nav-link border-left-2" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-mix" role="tab" aria-controls="nav-profile" aria-selected="false"
                                        *ngIf="userType == 'CONSUMER' || userType == 'PROSUMER'" [routerLink]="['/userPanel/mix']">
                                        <span class="d-block">ENERGY PURCHASE</span>
                                    </a>

                                    <a class="nav-item nav-link  border-left-1" id="nav-home-tab" data-toggle="tab"
                                        *ngIf="userType == 'PRODUCER' || userType == 'PROSUMER'" href="#nav-current"
                                        role="tab" aria-controls="nav-home" [routerLink]="['/userPanel/mixenergyproduce']">
                                        <span class="d-block">Energy Production Details </span>
                                    </a>

                                    <a class="nav-item nav-link border-left-2" id="nav-home-tab" data-toggle="tab" href="#nav-current"
                                        role="tab" aria-controls="nav-home" aria-selected="true" *ngIf="userType == 'PROSUMER' || userType == 'PRODUCER'"
                                        [routerLink]="['/userPanel/energyproduction']">

                                        <span class="d-block">Energy Production Statistics</span>
                                    </a>


                                    <a class="nav-item nav-link border-left-3" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-power" role="tab" aria-controls="nav-contact" aria-selected="false"
                                        *ngIf="powerStorage && userType == 'PROSUMER'" [routerLink]="['/userPanel/storage']">

                                        <span class="d-block">Power Storage</span>
                                    </a>
                                    <a class="nav-item nav-link border-left-2" id="nav-about-tab" data-toggle="tab"
                                        *ngIf="userType == 'CONSUMER' || userType == 'PROSUMER'" href="#nav-tradet"
                                        role="tab" aria-controls="nav-about" aria-selected="false" [routerLink]="['/userPanel/trade']">

                                        <span class="d-block">Energy Trade</span>
                                    </a>

                                    <!-- Commenting Offers Tab as per Client Requirement -->
                                    <!-- UN-Commenting Offers Tab as per Client Requirement -->
                                    <a class="nav-item nav-link border-left-4" id="nav-about-tab" data-toggle="tab"
                                        href="#nav-tradet" role="tab" aria-controls="nav-about" aria-selected="false"
                                        *ngIf="userType == 'PROSUMER'" [routerLink]="['/userPanel/buyerOffers']">

                                        <span class="d-block"> Offers </span>
                                    </a>



                                    <a class="nav-item nav-link  border-left-3" id="nav-home-tab" data-toggle="tab"
                                        *ngIf="userType != 'NONE'" href="#nav-current" role="tab" aria-controls="nav-home"
                                        aria-selected="true" [routerLink]="['/userPanel/userbilling']">

                                        <span class="d-block">User Billing</span>
                                    </a>
                                </div>
                            </div>


                            <!--  -->

                            <div class="col-md-10 padding-0">
                                <div class="tab-content py-3 px-3 px-sm-0 padding-0" id="nav-tabContent">

                                    <!-- <app-user-profile> </app-user-profile> -->
                                    <router-outlet></router-outlet>

                                    <!-- <app-user-trade></app-user-trade> -->
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </main>
        <footer class="bdT ta-c pT-20 lh-0 fsz-sm ">
            <p class="mB-0">Copyrights &copy; 2018 Rengoo, All Rights Reserved</p>
        </footer>
    </div>
</div>


<div class="modal fade" id="add-balance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Balance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pT-50" [formGroup]="formTokenBalance">
                    <div class="form-group">
                        <input type="text" formControlName="balance" autocomplete="off" class="form-control sign-in-input"
                            placeholder="Balance Amount">
                        <p *ngIf="balance.invalid && balance.dirty" class="text-danger">Must be a number</p>
                    </div>

                    <div class="form-group pY-20 text-center">
                        <a href="#">
                            <button class="btn btn-lg btn-end-contract btn-sell-energy" (click)="updateBalance()"
                                [disabled]="balance.invalid">Add Balance <i class="c-white-500 ti-plus"></i> </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>