<main class="main-content bgc-grey-100">
  <div id="mainContent">
      <div class="row gap-20 masonry pos-r height-100">
          <div class="col-md-12 ">
              <div class="row height-100">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-12">
                              <div class="row background-white">

                                  <div class="col-6 offset-3 peer pX-20 pY-50 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
                                      <img class="u-profile-img" src="../../../assets/img/default.png">

                                      <h4 class="fw-400 c-grey-900 mB-20 login margin-p-img">{{username}}</h4>


                                      <form  (ngSubmit)="editFormValue()" class="pT-50">
                                          <div class="form-group">
                                              <input type="email" class="form-control sign-in-input"
                                                     placeholder="User Name" value="{{username }}">
                                          </div>

                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      Show Power Storage:
                                                  </div>

                                                  <div class="col-md-6">
                                                      <div class="onoffswitch">

                                                          <input type="checkbox" name="onoffswitch"
                                                                 class="onoffswitch-checkbox"
                                                                 id="myonoffswitch" [value]="toggleValue" (click)="toggleValue = !toggleValue">
                                                          <label class="onoffswitch-label"
                                                                 for="myonoffswitch">
                                                              <span class="onoffswitch-inner"></span>
                                                              <span class="onoffswitch-switch"></span>
                                                          </label>

                                                      </div>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    Open to Seller Offers:
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="selleronoffswitch"
                                                               class="onoffswitch-checkbox"
                                                               id="selleronoffswitch" [value]="sellerToggleValue" (click)="sellerToggleValue = !sellerToggleValue">
                                                        <label class="onoffswitch-label"
                                                               for="selleronoffswitch">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="form-group pY-20">
                                              <a href="#">
                                                  <button type="submit" class="btn btn-sign-in">Save Info
                                                  </button>
                                              </a>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
