<main class="main-content bgc-grey-100">

    <div id="mainContent">
        <div class="row gap-20 masonry pos-r height-100">
            <div class="col-md-12 ">
                <div class="row height-100">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="row background-white">

                                    <div class="col-12">
                                        <h2 class="cons-h">Billing Details</h2>
                                        <p class="cons-p">The Billing Details contains information regarding
                                            Total Cost
                                            for all types of
                                            Users in the System.</p>
                                    </div>

                                    <!--Table Customers Start-->
                                    <div *ngIf="userType == 'CONSUMER' || userType == 'PROSUMER'" class="col-12 mT-50">
                                        <h2 class="cons-h">Purchase Billing Detail</h2>
                                        <div class="table-responsive">
                                              
                                            <table class="table table-striped" datatable [dtOptions]="dtOptions"
                                                [dtTrigger]="dtTrigger">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Seller Name</th>
                                                        <th scope="col">Units Purchased</th>
                                                        <th scope="col">Seller Rate</th>
                                                        <th scope="col">Tax Cost</th>
                                                        <th scope="col">Production Cost</th>
                                                        <th scope="col">System Cost</th>
                                                        <th scope="col">Transmittion Cost</th>
                                                        <th scope="col">Date</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let res of userPurchase[0]">
                                                        <td>{{res.name}}</td>
                                                        <td>{{res.unitsPurchased}} KWh</td>
                                                        <td>{{res.pricePerKWH}} / KWh</td>
                                                        <td>{{res.taxCost.toFixed(2)}} Rp. / KWh</td>
                                                        <td>{{res.productionCost.toFixed(2)}} Rp. / KWh</td>
                                                        <td>{{res.systemCost.toFixed(2)}} Rp. / KWh</td>
                                                        <td>{{res.transmittionCost.toFixed(2)}} Rp. / KWh</td>
                                                        <td>
                                                            {{ res.timestamp | date}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--Table Customers End-->

                                    <!--Table Sale Start-->
                                    <div *ngIf="userType == 'PRODUCER' || userType == 'PROSUMER' && userSaleLength > 0"
                                        class="col-12 mT-50">


                                        <h2 class="cons-h">Energy Sale Details</h2>
                                        <div class="table-responsive">
                                            <table class="table table-striped" datatable [dtOptions]="dtOptions"
                                                [dtTrigger]="dtTrigger">

                                               

                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            Buyer Name
                                                        </th>
                                                        <th scope="col">
                                                            Energy Resource
                                                        </th>
                                                        <th scope="col">
                                                            Energy Sold
                                                        </th>
                                                        <th scope="col">
                                                            Production Cost
                                                        </th>
                                                        <th scope="col">
                                                            Total
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let res of ourUserSale">

                                                        <td>{{res.name}}</td>
                                                        <td>{{res.energyResource}}</td>
                                                        <td>{{res.energyAmount}} KW</td>
                                                        <td>{{res.productionCost}} Rp.</td>
                                                        <td>{{sellerPrice * res.energyAmount}} Rp.</td>

                                                    </tr>

                                                </tbody>


                                            </table>
                                        </div>
                                    </div>
                                    <!--Table GRID End-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>