<div class="row">
  <div class="col-12">
    <div class="row bg-map">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <h3 class="heading-map">ACTUAL ENERGY OVERVIEW NETWORK AREA EW SCHLATT</h3>

            <div class="mT-40 map-data">
              <div class="mT-5 map-title">Consumer in the network Area: <span class="map-value">{{totalConsumers.length}}</span></div>
              <div class="mT-5 map-title">Total currently consumed energy: <span class="map-value">
                  {{consumerTotalEngeryConsumed}} KW </span></div>
              <!-- <div class="mT-5 map-title">Status Consumer: <span class="map-value"> No Error </span></div>-->
            </div>

            <div class="mT-40 map-data">
              <div class="mT-5 map-title">Prosumer in the network Area: <span class="map-value">{{totalProsumers.length}}
                </span></div>
              <div class="mT-5 map-title">Total produced energy: <span class="map-value">
                  {{prosumerTotalEngeryConsumed}} KW </span></div>
              <!-- <div class="mT-5 map-title">Status Consumer: <span class="map-value"> No Error </span></div> -->
            </div>



            <!-- Start Producers Data -->
            <div class="mT-40 mB-40 map-data">
              <h5>Contracted Power Plants:</h5>
              <div class="mT-5 map-title">Producers in the network Area: <span class="map-value">{{totalProducers.length}}</span></div>


              <div *ngFor="let res of totalProducers;index as i" class="mT-30">
                <p class="producer-map">{{totalProducersName[i]}}</p>
                <div *ngFor="let energy of res" class="mT-5 map-title">Current Production {{energy.energyResource}} :
                  <span class="map-value"> {{energy.latestProduction}} KW </span></div>
              </div>



            </div>


            <div class="mT-40 mB-40 " ng-app="PubNubAngularApp" ng-controller="MySpeechCtrl">
              <p>Click here to speak</p>
              <button type="button" (click)="speak()" class="btn btn-primary btn-speak ">Actual Values</button>
            </div>
            <!-- End Producers Data -->

          </div>

          <div class="col-10">
            <agm-map #gm *ngIf="markers.length!=0" [latitude]="markers? markers[0].lat : 0" [longitude]="markers? markers[0].lng : 0"
              (idle)="mapIdle()" (mapReady)="mapReady($event)">
              <agm-data-layer *ngIf="geoJsonObject" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc" >
              </agm-data-layer>
              <agm-marker *ngFor="let p of markers;let i = index" [latitude]="p.lat" [longitude]="p.lng" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                [label]="{color: 'white',text: p.myName}" [iconUrl]="p.type == 'PRODUCER' ? '../assets/img/gpin.png' : p.type == 'CONSUMER' ? '../assets/img/rpin.png' : p.type == 'PROSUMER' ? '../assets/img/bpin.png' : '../assets/img/ypin.png'">
                <agm-info-window #infoWindow>


                  <div style="padding-left:25px;">
                    <h2>{{p.myName}}</h2>

                    <table class="table" style=" max-width: 400px; min-width: 400px;">
                      <thead>
                        <tr>
                          <th>Location</th>
                          <th>{{p.lat}},{{p.lng}}</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Distace from grid</td>
                          <td>{{p.distance}}</td>
                        </tr>
                        <tr class="success">
                          <td>Location Name</td>
                          <td>{{p.locationname}}</td>
                        </tr>
                        <tr class="danger">
                          <td>Balance</td>
                          <td>{{p.balanceamount}}</td>
                        </tr>
                        <tr class="info">
                          <td>Price per KWh</td>
                          <td *ngIf="p.type != 'CONSUMER'">{{p.priceperkwh}}</td>
                          <td *ngIf="p.type == 'CONSUMER'">Not Applicable</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-navbar></app-navbar> -->