agm-map {
  height: 1000px;
}
.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    left: 25px !important;
}
agm-info-window {
  padding:0;
}
body > app-root > app-map > agm-map > div.agm-map-container-inner.sebm-google-map-container-inner > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4){
  left: -11px
}
.bg-map{
  background: #ffffff ;
  padding-left: 30px;
}
.heading-map{
  font-size: 16px;
  font-weight: 600;
}
.map-data{
  border: 1px solid #e8bdbd;
  padding: 25px;
  background: #d8e7f7;
}
.map-date div b{
  font-size: 11px;
}
.map-title{
  font-size: 11px;
}
.map-value{
  font-size: 12px;
  font-weight: 700;
}
.producer-map{
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}
.btn-speak{
width: 100%;  
padding: 7px;
font-size: 16px;
text-transform: capitalize;
}