<div class="container-fluid padding-0 d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-12 mx-auto">
          <div class=" row">
            <div class="col-8 ">
              <img height="100%" width="100%" src="../../../assets/img/login-bg.jpg">
            </div>
            <div class="col-4 peer pX-20 pY-50 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
              <a href="#"><img class="logo" src="../../../assets/img/logo.png"></a>
              <a href="#"><img class="ibm-logo" src="../../../assets/img/IBM.jpg"></a>


              <h4 class="login">Reset Your Password</h4>
              <p class="sign-in-text">Open Standards Platform for Network Operators</p>
<!-- Registration Form -->
<form [formGroup]="form" (submit)="onResetSubmit()">


  <!-- Password Input -->
  <div class="form-group mT-50" >
    <div>
      <input type="password" name="password" class="form-control sign-in-input" autocomplete="off" placeholder="*Password" formControlName="password" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty" class="text-danger">This field is required</li>
        <li class="text-danger" *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
   <li  class="text-danger" *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters but no more than 50</li>
      </ul>
    </div>
  </div>

  <!-- Confirm Password Input -->
  <div class="form-group">
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control sign-in-input" autocomplete="off" placeholder="*Confirm Password"  formControlName="confirm" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
      </ul>
    </div>
  </div>



  <!-- Submit Input -->
  <input   type="submit" [disabled]="!processing" class="btn btn-sign-in" value="Submit" />

</form>
<!-- Registration Form /-->
      </div>
    </div>
  </div>
</div>
