<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="row gap-20 masonry pos-r height-100">
      <div class="col-md-12 ">
        <div class="row height-100">
          <div class="col-md-12">
            <div class="row">
              <div class="col-12">
                <div class="row background-white">

                  <div class="col-12">
                    <h2 class="cons-h">Customers (Buyers and Sellers)</h2>
                    <p class="cons-p">The Billing Details contains information regarding Total Cost for all types of
                      Users in the System</p>
                  </div>

                  <!--Table Customers Start-->
                  <div class="col-12 mT-50">
                    <h2 class="cons-h">Buyer Billing Detail</h2>
                    <div class="table-responsive">
                      <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Enery Purchased</th>
                            <th scope="col">Distance From Grid</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Total Bill</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let res of buyerData">

                            <td>{{res.name}}</td>
                            <td>{{res.totalUnits}} KW</td>
                            <td>{{res.distance}} Km</td>
                            <td>{{res.totalCost.toFixed(0)}} CHF</td>
                            <td>{{res.totalBill.toFixed(0)}} CHF</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--Table Customers End-->

                  <!--Table Sale Start-->
                  <div class="col-12 mT-50">


                    <h2 class="cons-h">SELLER Billing Details</h2>
                    <div class="table-responsive">
                      <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Energy Units Sold</th>
                            <th scope="col">Production Cost</th>
                            <th scope="col">Total Sale</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let res of sellerData">

                            <td>{{res.name}}</td>
                            <td>{{res.unitsSold}} KW</td>
                            <td>{{res.totalCost}} CHF</td>
                            <td>{{res.sellerTotalSale}} CHF</td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--Table Sale End-->

                  <!-- Table Grid Start -->
                  <div class="col-12 mT-50">


                    <h2 class="cons-h">Network Operator Billing Details</h2>
                    <div class="table-responsive">
                      <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th scope="col">Buyer Name</th>
                            <th scope="col">Seller Name</th>
                            <th scope="col">Energy Units Transferred</th>
                            <th scope="col">Transmittion Cost</th>
                            <th scope="col">Total Bill</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let res of gridData">

                            <td>{{res.buyerName}}</td>
                            <td>{{res.sellerName}}</td>
                            <td>{{res.unitsTransferred}} KW</td>
                            <td>{{res.transmittionCost.toFixed(0)}} CHF</td>
                            <td>{{res.gridBill.toFixed(0)}} CHF</td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Table Grid End  -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>