#loader {
    transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
.sidebar-menu::-webkit-scrollbar {
    display: none;
    width: 5px;
}

.sidebar-menu:hover > .sidebar-menu::-webkit-scrollbar {
    display: block;
}

/* Track */
.sidebar-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidebar-menu::-webkit-scrollbar-thumb {
    background: #2196f3 !important;
}

/* Handle on hover */
.sidebar-menu::-webkit-scrollbar-thumb:hover {
    background: #2196f3 !important;
}

a:hover {
    cursor: pointer;
    cursor: hand;
}
