<div class="p-50 bg-map">
  <agm-map #gm *ngIf="markers.length !=0" [latitude]="markers? markers[0].latitude : 0" [longitude]="markers? markers[0].longitude : 0"
    (idle)="mapIdle()" (mapReady)="mapReady($event)">
    <agm-marker *ngFor="let p of markers" [latitude]="p.latitude" [longitude]="p.longitude" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow"
      [label]="{color: 'white',text: p.name}" [iconUrl]="'../assets/img/bpin.png'">
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <div style="padding-left:25px;">
          <h2>{{p.name}}</h2>

          <table class="table" style=" max-width: 400px; min-width: 400px;">
            <thead>
              <tr>
                <th>Location</th>
                <th>{{p.latitude}},{{p.longitude}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Distace from grid</td>
                <td>{{p.distanceFromGrid}} Km</td>
              </tr>
              <tr class="success">
                <td>Location Name</td>
                <td>{{p.location}}</td>
              </tr>
              <tr class="danger">
                <td>Energy Amount</td>
                <td>{{p.energyAmount}} KW</td>
              </tr>
            </tbody>
          </table>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>